<form method="post" action="/books/<%= @book.id %>">

  <label for="title-field">Title:</label>
  <input
  type="text"
  name="title"
  id="title-field"
  value="<%= @book.title %>"
  />
<p>
  <label for="author-field">Author:</label>
  <input
  type="text"
  name="author"
  id="author-field"
  value="<%= @book.author %>"
  />
<p>
  <label for="description-field">Description :</label>
  <input
  type="text"
  name="description"
  id="description-field"
  value="<%= @book.description %>"
    />
<p>
  <label for="stock_quantity-field">Stock Quantity:</label>
  <input
  type="INT2"
  name="stock_quantity"
  id="stock_quantity-field"
  value="<%= @book.stock_quantity %>"
  />
<p>
  <label for="buying_cost-field">Cost to Buy:</label>
  <input
  type="FLOAT"
  name="buying_cost"
  id="buying_cost-field"
  value="<%= @book.buying_cost %>"
  />
<p>
  <label for="selling_price-field">Selling Price:</label>
  <input
  type="INT2"
  name="selling_price"
  id="selling_price-field"
  value="<%= @book.selling_price %>"
  />
<p> 
  <label for="publisher_id-field">Published by:</label>
  <input
  type="text"
  name="publisher_id"
  id = "publisher_id-field"
  value="<%= @book.publisher_id %> "
  />

<input class="btn btn--action" type='submit' value="Edit Book">

</form>
