<h1> Books </h1>


<ul>
  <% for book in @books %>
  <li>
  <p><%= book.title %> <%= book.author %>  <%= book.description %> <%= book.stock_quantity %>
    <%= book.buying_cost %> <%= book.selling_price %></p>
    <p>
  </li>
    <% end %>
</ul>
