<div class="publisherInfo">


<p>Name: <%= @publisher.name %></p>
<p>Contact Details: <%= @publisher.contact_details %></p>

<h3>Books: </h3>
<% for book in @books %>
  <% if book.publisher_id.to_i == @publisher.id %>
  <p><a href="/books/<%= book.id %>"><%= book.title %></a></p>
  <% end %>
<% end %>





<p><a href="/publishers/<%= @publisher.id %>/edit">Edit Publisher Details </a></p>


<form method="post" action="/publishers/<%= @publisher.id %>/delete">
  <input type="submit" value="Delete Publisher"/>
</form>
