<div class="publisherInfo">


<p>Name: <%= @publisher.name %></p>
<p>Contact Details: <%= @publisher.contact_details %></p>

<p>Books: </p>
<% for book in @books %>
  <% if book.publisher_id.to_i == @publisher.id %>
  <p><a href="/books/<%= book.id %>"><%= book.title %></a></p>
  <% end %>
<% end %>





<h3><a href="/publishers/<%= @publisher.id %>/edit">Edit Publisher Details </a></h3>


<form method="post" action="/publishers/<%= @publisher.id %>/delete">
  <input type="submit" value="Delete Publisher"/>
</form>
